:root {
	--dark-gray-hex: #323848;
	--dark-gray-rgb: 50, 56, 72;
	--orange-hex: #f79233;
	--orange-rgb: 247, 146, 51;
	--white-hex: #fff;
	--white-rgb: 255, 255, 255;
}

body {
	background: var(--white-hex);
	color: var(--dark-gray-hex);
	font-size: 16px;
	font-family: 'DM Sans', Arial, sans-serif;
}

header {
	position: relative;
	display: flex;
	gap: 2em;
	justify-content: space-between;
	padding: 20px;
	border-radius: 0.5em;
	background-color: orange;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
}

.menu-btn {
	order: 1;
}

.navigation {
	flex-grow: 1;
	margin-left: auto;
	opacity: 0;
	pointer-events: none;
	transition:
		opacity 300ms ease,
		transform 300ms ease;

	@media screen and (max-width: 950px) {
		position: absolute;
		top: 100%;
		left: 0;
		width: calc(100% - 20px);
		transform: translate(0, -2em);
	}

	&.visible {
		opacity: 1;
		pointer-events: auto;

		@media screen and (max-width: 950px) {
			transform: translate(0, 0);
		}
	}
}

.navigation-list {
	display: flex;
	gap: 1em;
	justify-content: flex-end;
	align-items: center;

	@media screen and (max-width: 950px) {
		flex-direction: column;
	}
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border: 1px solid;
	border-radius: 3em;
	color: currentcolor;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: orange;
		color: white;
	}
}

.content-container {
	margin-block: 0;
	font-size: 1.25em;

	@media screen and (max-width: 950px) {
		font-size: 1em;
	}

	& + .btn-wrapper {
		margin-top: 1rem;
	}
}

.section-title {
	margin-block: 0;
	font-weight: 700;
	font-size: 3.75em;

	& + .content-container {
		margin-top: 1rem;
	}
}

.section-subtitle {
	margin-block: 0;
	font-weight: 500;
	font-size: 1.25em;

	& + .section-title {
		margin-top: 0.5rem;
	}
}

button {
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

#menu {
	padding: 10px;
}

footer {
	padding: 20px;
	border-radius: 0.5em;
	background: #222;
	color: #333;
	text-align: center;
}

section {
	padding-block: 4em;
}

.width-container {
	max-width: 1400px;
	margin: 0 auto;
	padding-inline: 3em;

	@media screen and (max-width: 1000px) {
		padding-inline: 2em;
	}

	@media screen and (max-width: 700px) {
		padding-inline: 1em;
	}
}

.content {
	.width-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em 4em;
		align-items: center;

		@media screen and (max-width: 950px) {
			grid-template-columns: 1fr;
		}
	}
}

#contact-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	max-width: 500px;
	margin: 0 auto;
}
