:root {
	--dark-gray-hex: #323848;
	--dark-gray-rgb: 50, 56, 72;
	--orange-hex: #f79233;
	--orange-rgb: 247, 146, 51;
	--white-hex: #fff;
	--white-rgb: 255, 255, 255;
}

body {
	background: var(--white-hex);
	color: var(--dark-gray-hex);
	font-size: 16px;
	font-family: 'DM Sans', Arial, sans-serif;
}

header {
	position: relative;
	display: flex;
	gap: 2em;
	justify-content: space-between;
	padding: 20px;
	border-radius: 0.5em;
	background-color: var(--orange-hex);
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
}

.hidden {
	display: none;
	pointer-events: none;
}

.menu-btn {
	order: 1;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: var(--white-hex);
	border: none;
}

.logo {
	width: 203px;
	height: 64px;
}

.icon {
	width: 30px;
	height: 34px;
}

.hero-image {
	width: 100%;
	height: auto;
	border-radius: 1.5em;
}

.navigation {
	flex-grow: 1;
	margin-left: auto;
	opacity: 1;
	pointer-events: auto;
	transition:
		opacity 300ms ease,
		transform 300ms ease;

	@media screen and (max-width: 950px) {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		transform: translate(0, -2em);
		transform: translate(0, 0);

	}
}

.menu-link {
	text-decoration: none;
	color: var(--white-hex);
	font-size: 1.5em;
	font-weight: 700;
}

.navigation-list {
	flex: 1;
	display: flex;
	gap: 1em;
	justify-content: flex-end;
	align-items: center;
	padding-left: 0px;

	@media screen and (max-width: 950px) {
		flex-direction: column;
		background-color: var(--orange-hex);
		border-radius: 0.5em;
		line-height: 76px;
	}
}

.input-round {
	padding: 1em 1.5em;
	border: 1px solid;
	border-radius: 3em;
	font-size: 16px;
	background-color: rgba(var(--dark-gray-rgb), .05);
}

.btn {
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	color: currentcolor;
	text-decoration: none;
	background-color: var(--white-hex);

	&:hover,
	&:focus {
		background-color: var(--orange-hex);
		color: white;
	}
}

.submit-btn {
	width: fit-content;
	justify-self: center;

	@media screen and (max-width: 950px) {
		justify-self: auto;
	}
}

.content-container {
	margin-block: 0;
	font-size: 1.25em;

	@media screen and (max-width: 950px) {
		font-size: 1em;
	}

	&+.btn-wrapper {
		margin-top: 1rem;
	}
}

.header-wrapper {
	text-align: center;
	margin-bottom: 64px;
}

.section-title {
	margin-block: 0;
	font-weight: 700;
	font-size: 3.75em;

	&+.content-container {
		margin-top: 1rem;
	}
}

.section-subtitle {
	margin-block: 0;
	font-weight: 500;
	font-size: 1.25em;

	&+.section-title {
		margin-top: 0.5rem;
	}
}

ul {
	list-style: none;
}

.footer {
	padding: 20px;
	border-radius: 0.5em;
	background: var(--dark-gray-hex);
	color: var(--white-hex);
	text-align: center;
}

.arrow-icon {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(101%);
	width: 16px;
	height: 18px;
}

.icon-button {
	position: fixed;
	right: 75px;
	bottom: 75px;
	background-color: var(--orange-hex);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	align-content: center;

	@media screen and (max-width: 950px) {
		right: 50%;
		margin-right: -25px;
	}
}

section {
	padding-block: 4em;
}

.width-container {
	max-width: 1400px;
	margin: 0 auto;
	padding-inline: 3em;

	@media screen and (max-width: 1000px) {
		padding-inline: 2em;
	}

	@media screen and (max-width: 700px) {
		padding-inline: 1em;
	}
}

.content {
	.width-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em 4em;
		align-items: center;

		@media screen and (max-width: 950px) {
			grid-template-columns: 1fr;
		}
	}
}

.form-section {
	max-width: 612px;
	margin: auto;
}

.contact-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	max-width: 500px;
	margin: 0 auto;
}